@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


body {
    height: 100vh;
}

.container {
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;

}

svg {
    flex-shrink: 0;
}

.items {
    height: 400px;
    width: 220px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    line-height: 1.6;

}

.h2-item {
    font-family: 'Big Shoulders Display', cursive;
    color: hsla(0, 0%, 100%, 0.75);
    text-transform: uppercase;
    font-size: 2em;

}

.item1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;

}

.item2 {
    background-color: hsl(184, 100%, 22%);
}

.item3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}

p {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75)
}

.button {
 font-family: 'Lexend Deca', sans-serif;
 border: none;
 border-radius: 50px;
 padding: 15px;
 margin: 30px;
}

.button1 {
    color: hsl(31, 77%, 52%);
}

.button1:hover {
    background-color: hsl(31, 77%, 52%);
}

.button2 {
    color: hsl(184, 100%, 22%);
}

.button2:hover {
    background-color: hsl(184, 100%, 22%);
    
}

.button3 {
    color: hsl(179, 100%, 13%);
}

.button3:hover {
    background-color: hsl(179, 100%, 13%);
}

.button1:hover,
.button2:hover,
.button3:hover {
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
}

.attribution {
    font-size: 11px; text-align: center;
    color: hsl(228, 45%, 44%);
}